# Misc
.DS_Store

# Python cache
__pycache__/
*.pyc

# debug debris

# Generated package files
*-[0-9]*.[0-9]*.[0-9]*.zip

# Models
assets/

# Python install / Virtual environment
bin/

# libraries
edgetpu_runtime/
