# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options directory
.vs/

# macOS files
*.DS_Store
._*

# Python cache
__pycache__/
*.pyc

# Linux utilities
wget-log*

# debug debris

# Generated package files
*-[0-9]*.[0-9]*.[0-9]*.zip

# Models
assets/

# libraries
edgetpu_runtime/
