#! Python3.8

numpy==1.23                   # Installing NumPy, the fundamental package for array computing with Python.

--extra-index-url https://google-coral.github.io/py-repo/ 
tflite-runtime==2.5.0.post1   # Installing Tensorflow Lite
--extra-index-url https://google-coral.github.io/py-repo/ 
pycoral~=2.0                  # Installing PyCoral

Pillow>=4.0.0                 # Installing Pillow, a Python Image Library

CodeProject-AI-SDK            # Installing the CodeProject.AI SDK

# last line empty